/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Alike&family=Open+Sans:wght@400;600;700&display=swap");

/*---Projects List Styles---*/
* {
  color: #453e4f;
  font-family: "Open Sans", sans-serif;
}
li.project-list-item {
  list-style-type: none;
}
li.project-list-item img {
  width: 90%;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(69, 62, 79, 0.2);
}

li.project-list-item p.project-name {
  font-size: 1.4em;
  font-family: "Alike", serif;
  padding-bottom: 40px;
}
li.project-list-item p.project-description {
  font-size: 1em;
  text-align: left;
  padding: 0 30px 30px 30px;
}
li.project-list-item p.skills-container,
li.project-list-item p.tools-container {
  font-size: 1em;
  text-align: left;
}
li.project-list-item p.skills-container {
  padding: 0 30px 10px 30px;
}
li.project-list-item p.tools-container {
  padding: 0 30px 10px 30px;
  margin-bottom: 40px;
}
li.project-list-item span {
  font-weight: 700;
}
li.project-list-item a.site-link {
  display: inline-block;
  background-color: #453e4f;
  text-decoration: none;
  font-size: 1.1em;
  padding: 15px 60px;
  border-radius: 40px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 40px;
}
li.project-list-item a.site-link:hover {
  background-color: rgba(69, 62, 79, 0.8);
}

/*===Tablet Styles===*/
@media only screen and (min-width: 768px) {
  ul.projects-unordered-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 60px;
  }
  li.project-list-item {
    width: 50%;
  }
  li.project-list-item p.project-name {
    font-size: 1.6em;
  }
  li.project-list-item p.project-description {
    padding: 0 35px 30px 35px;
    font-size: 1.2em;
  }
  li.project-list-item p.skills-container,
  li.project-list-item p.tools-container {
    padding: 0 35px 10px 35px;
    font-size: 1.2em;
  }
  li.project-list-item a.site-link {
    font-size: 1.3em;
  }
}
/*===Desktop Styles===*/
@media only screen and (min-width: 1200px) {
  ul.projects-unordered-list {
    margin: 0 30px;
  }
  li.project-list-item {
    width: 33.333%;
  }
  li.project-list-item p.project-name {
    font-size: 1.8em;
  }
}
