/* fonts
font-family: 'Alike', serif;
font-family: 'Open Sans', sans-serif;
*/

/* colors
purple: #453E4F
pink: #F19494
pastel pink/yellow: #FFE8D6 
blue: #E8EFF7
mustard: #E9B14C 
*/

/*---Global Styles---*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  text-align: center;
  color: #453e4f;
}
/*---Header Styles---*/
header {
  background: #ffe8d6;
}
/*Nav Styles*/
header nav {
  font-size: 0.95em;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 60px 0;
}
header nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
header nav ul li:hover {
  background-color: rgba(241, 148, 148, 0.5);
  padding: 8px;
  border-radius: 20px;
}
header nav ul li#contact {
  background: #f19494;
  padding: 8px;
  border-radius: 20px;
}
header nav ul li#contact:hover {
  background-color: rgba(241, 148, 148, 0.5);
}

/*Heading Styles*/
header h1 {
  font-size: 3em;
  padding: 0 45px 30px 45px;
  line-height: 1.5em;
}
header h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0 45px 30px 45px;
}
header h1,
h2 {
  font-family: "Alike", serif;
}
/*---Projects Section Styles---*/
/*=Most styles for this section are in App.css==*/

.projects-container {
  background-color: white;
}
.projects-container h3 {
  font-family: "Alike", serif;
  font-size: 1.8em;
  padding: 80px 0 20px 0;
}
