/* fonts
font-family: 'Alike', serif;
font-family: 'Open Sans', sans-serif;
*/

/* colors
purple: #453E4F
pink: #F19494
pastel pink/yellow: #FFE8D6 
blue: #E8EFF7
mustard: #E9B14C 
*/
/*===Coded Mobile First===*/
/*---Global Styles---*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #453e4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
/*---Header Styles---*/
header {
  background: #ffe8d6;
}
/*Nav Styles*/
header nav {
  font-size: 0.95em;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 60px 0;
}
header nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
header nav ul li:hover {
  background-color: rgba(241, 148, 148, 0.5);
  padding: 8px;
  border-radius: 20px;
}
header nav ul li#contact {
  background: #f19494;
  padding: 8px;
  border-radius: 20px;
}
header nav ul li#contact:hover {
  background-color: rgba(241, 148, 148, 0.5);
}
header nav ul li a {
  text-decoration: none;
}

/*Heading Styles*/
header h1 {
  font-size: 2em;
  padding: 0 45px 30px 45px;
  line-height: 1.5em;
}
header h2 {
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 0 45px 60px 45px;
}
header h1,
h2 {
  font-family: "Alike", serif;
}
/*---Projects Section Styles---*/
/*=Most styles for this section are in App.css==*/

.projects-container {
  background-color: white;
}
.projects-container h3 {
  font-family: "Alike", serif;
  font-size: 1.8em;
  padding: 80px 0 20px 0;
}

/*---Skills and Tools Style---*/
.skills-section {
  background: #ffe8d6;
  margin-top: 20px;
  padding-bottom: 80px;
}
.skills-section h3 {
  font-size: 1.8em;
  font-family: "Alike", serif;
  padding: 60px 0 40px 0;
}
.skills-section h4 {
  font-size: 1.3em;
  font-family: "Alike", serif;
  padding-bottom: 20px;
}
.skills-section p {
  background-color: #f19494;
  margin: 20px 40px;
  padding: 18px 0;
  text-transform: uppercase;
}
.skills-section h4.tech-heading {
  padding-top: 20px;
}

/*---About Section Styles---*/
.about-container {
  padding: 80px 0 0 0;
}
.about-container h3 {
  font-family: "Alike", serif;
  font-size: 1.8em;
  padding: 40px 40px 60px 40px;
}
.about-container h4 {
  font-size: 1.3em;
  font-family: "Alike", serif;
  padding: 0 40px 40px 20px;
  line-height: 1.5em;
}
.about-container p.bio {
  padding: 20px 35px 30px 35px;
  text-align: left;
}
.about-container p.sentiment {
  padding: 0 35px 80px 35px;
  text-align: left;
  font-weight: bold;
}

/*---Contact Section Styles---*/
.contact-container {
  background: #ffe8d6;
  padding-bottom: 60px;
}
.contact-container h3 {
  font-size: 1.8em;
  font-family: "Alike", serif;
  padding: 80px 40px 0 40px;
}
.contact-container h4 {
  font-size: 1.3em;
  font-family: "Alike", serif;
  padding: 60px 40px 30px 40px;
}
.contact-container div.copyright p {
  padding-top: 60px;
}

.social-container i {
  font-size: 1.8em;
  padding: 0 10px 0 10px;
}

/*===Tablet Styles===*/
@media only screen and (min-width: 768px) {
  /*---Header Styles---*/
  header nav ul {
    padding: 80px;
    font-size: 1.1em;
  }
  header h1 {
    font-size: 2.6em;
    padding: 0 80px 80px 80px;
    line-height: 1.5em;
  }
  header h2 {
    font-size: 1.7em;
    line-height: 1.5em;
    padding: 0 80px 80px 80px;
  }

  /*---Projects Section Styles---*/
  /*=Most styles for this section are in App.css==*/
}
/*===Desktop Styles===*/
@media only screen and (min-width: 1200px) {
}
